.navbar-address {
  font-family: "Playfair Display", serif;
  background-color: #fecb2f;
  color: #ffff;
  font-size: 12px;
}
.main-part-header {
}
.navbar-contents {
  background-color: rgb(26, 24, 24);

  /* sticky or fixed are fine */

  transition: background-image 0.5s;
}
.office {
  background-color: rgb(36, 32, 32);
}
.brand-img {
  height: 40px;
}

.navbar-list {
  color: #ffff;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
}
.navbar-list:hover {
  color: #fecb2f;
}
.login-img {
}

.log-data img {
  margin-right: 5px;
}
.nav-link {
  color: #ffff;
}
.nav-link:hover {
  color: #fecb2f;
}
.dropdown-menu {
  background-color: rgb(26, 24, 24);
}
.dropdown-item:hover {
  color: #fecb2f;
  background-color: rgb(26, 24, 24);
}
.navbar-contents {
  width: 80%;
}
.navbar-bg {
  background-color: rgb(26, 24, 24);
}
.logout-button {
  background-color: rgb(26, 24, 24);
  border: none;
  color: white;
}
.logout-button:hover {
  background-color: rgb(26, 24, 24);
  border: none;
  color: #fecb2f;
}
