.footer-content {
  color: #fff;
  background-color: rgb(26, 24, 24);
  text-align: center;
  min-height: 100px;

  bottom: 0;
}
.footer-title {
  font-family: "Playfair Display", serif;
  font-weight: 350;
  font-size: 30px;
  color: #fecb2f;
}
.last-content-footer {
  font-family: "Playfair Display", serif;
  color: #fecb2f;
}
